body {
  max-width: 672px;
  padding: 0 5px;
  margin: 0 auto;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 10px;
  border-top: 3px solid #3d7e9a;
}

h3 {
  display: inline-block;
  padding: 0 4px 0 40px;
  background-color: #333;
  color: #fff;
}

nav {
  padding: 10px 0;
  border-bottom: 3px solid #333;
}

footer {
  padding: 20px 0;
  border-top: 3px solid #333;
}

.back-to-top {
  text-align: center;
  display: block;
}

.back-to-top::after {
  content: " ☝";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.switch {
  text-align: center;
  padding-bottom: 20px;
}

caption {
  padding: 10px 0;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(200, 200, 200);
  margin: 0 auto;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 20px;
}

td {
  text-align: center;
}

thead {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}
