* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: disc inside;
  margin-bottom: 20px;
}
ul > li {
  margin-bottom: 10px;
}
p {
  margin-bottom: 20px;
}

body {
  max-width: 690px;
  padding: 0 16px;
  margin: 0 auto;
  line-height: 1.6;
}

#experiance,
#companys,
#awards,
#pictures {
  display: inline-block;
  padding: 0 6px;
  position: sticky;
  top: 10px;
  background: white;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 3px solid #333;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 4.8em;
  text-align: center;
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}

section {
  border-top: 3px solid #3d7e9a;
  margin-bottom: 20px;
}

h3 {
  display: inline-block;
  padding: 0 4px 0 40px;
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
}

footer {
  border-top: 3px solid #333;
  padding: 20px 0;
}

.img-wrapper {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  height: 300px;
}

.displayed-img {
  max-width: 100%;
  display: block;
}

.thumb-bar img {
  display: block;
  width: calc(100% / 3);
  float: left;
  cursor: pointer;
}

caption {
  padding: 10px 0;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(200, 200, 200);
  margin: 0 auto;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 20px;
}

td {
  text-align: center;
}

thead {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

nav {
  padding-top: 10px;
  border-bottom: 3px solid #333;
  position: sticky;
  top: 0px;
  background: white;
  display: flex;
  justify-content: space-between;
}

#musk {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  height: 2.4rem;
  line-height: 1.1rem;
}

ol {
  width: 65%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ol > li {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 1.2rem;
  background: #3d7e9a;
}

li > a {
  text-decoration: none;
  color: white;
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

li > a:hover {
  background: #333;
}

main {
  margin-top: 20px;
}

.icon {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background: white;
}

cite > a {
  text-decoration: none;
}

cite > a:hover {
  text-decoration: underline;
}
